
__pycache__/
*.pyc
.venv/
.env
.vscode/
.ipynb_checkpoints/
email-sending.ipynb
emails.xlsx
report-16ed.ipynb
Respostas_15ed.xlsx
Respostas_16ed.xlsx
15ed-amostra.xlsx
16ed-amostra.xlsx
ponderacao-15edicao.xlsx
ponderacao-16edicao.xlsx
images/














